<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <div class="container">
        <h1><%= entry.name %></h1>
        <button type="button" onclick="location.href='/budgets/'">Back</button>
    </div>
</body>
</html>